body {
    margin: 0;
    font-family: "Roboto", serif;
}
.navbar{
    background-image:url(https://www.espacemanager.com/sites/default/files/uit_9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.start {
    padding: 0px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
.links {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0;
    border: none;
    outline: none;
    font-family: "Roboto", serif;
    padding: 50px 20px;

}
.links:hover{
    color: rgb(211, 46, 46);
}
.btn {
    color: white;
    border: none;
    outline: none;
    padding: 10px 10px;
    text-decoration: none;
  }

.btn:hover{
    color: rgb(211, 46, 46);
}
h2{
    padding-left: 10%;
    width: fit-content;
}

.head{
    display: flex;
    height: 200px;
    align-items: stretch;
}
.a{
    display: flex;
    width: 25%;
    padding-left: 10%;
    padding-top: -15%;
}